body {
    margin: 0px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    font-size: large;
    background-color: white;
}
header {
    text-align: center;
    font-size: 1.8em;
    font-weight: normal;
}
#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    padding: 23px 0px;
    border-right: solid rgb(83, 83, 83);  
} 
#navbar ul {
    height: 100%;
    padding: 0px;
    border-bottom: 1px solid rgb(83, 83, 83);
    overflow-y: auto;
    overflow-x: hidden;
}     
#navbar li {
    border-top: 1px solid rgb(83, 83, 83);
    list-style: none;
    width: 100%;
    font-size: larger;
    position: relative;
}
#navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}
#main-doc {
    position: absolute;
    margin-left: 250px;
    margin-bottom: 110px;
    padding: 10px 0px;
}
#heading {
    text-align: center;
    padding: 15px 0px;
    height: max-content;
    margin-left: 0px;
    border-bottom: solid rgb(83, 83, 83);
}
.main-heading {
    display: none;
}
h3 {
    font-weight: lighter;
}
.main-section {
    padding: 10px 30px;
}
.main-section header {
    text-align: left;
}
code {
    display: block;
    position: relative;
    padding: 15px;
    font-family: monospace;
    border-radius: 5px;
    background-color: rgb(230, 228, 228);
}
@media (max-width: 700px) {
    #navbar ul {
      border: 1px solid;
      height: 207px;
    }
    #navbar {
      position: absolute;
      top: 95px;
      padding: 0px 10px 0px 10px;
      margin: 0;
      width: 95%;
      max-height: 300px;
      border: none;
      z-index: 1;
    }
    #main-doc {
      position: relative;
      margin: 290px 0px 20px 0px;
    }
    #heading {
        display: none;
    }
    .main-heading {
        display: flex;
        justify-content: center;
        padding: 15px;
        height: max-content;
        border-bottom: solid rgb(83, 83, 83);
    }
}

